# START: docker-compose up -d
# STOP: docker-compose down
version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: meu-mongo-local
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
